<%- include('./layout/header') %>

<section class="bg-dark position-relative py-5">
  <div
    class="d-none d-dark-mode-block position-absolute top-0 start-0 w-100 h-100"
    style="background-color: rgba(255, 255, 255, 0.02)"
  ></div>
  <div class="container dark-mode position-relative zindex-2 py-5 mb-4 mb-sm-5">
    <div class="row pb-5 mb-2 mb-sm-0 mb-lg-3 mt-5">
      <div class="col-lg-10 col-xl-9">
        <h1 class="display-2 pb-2 pb-sm-3">About Us</h1>
        <ul class="list-unstyled d-flex flex-wrap mb-0">
          <li class="d-flex py-1 me-4">
            <i class="ai-check-alt text-primary lead me-2"></i>
            Shaheen Scouts
          </li>
          <li class="d-flex py-1 me-4">
            <i class="ai-check-alt text-primary lead me-2"></i>
            Boys Scouts
          </li>
          <li class="d-flex py-1">
            <i class="ai-check-alt text-primary lead me-2"></i>
            Rover Scouts
          </li>
        </ul>
      </div>
    </div>

    <div class="rounded-5 overflow-hidden">
      <div class="jarallax ratio ratio-16x9" data-jarallax data-speed="0.6">
        <div
          class="jarallax-img"
          style="
            background-image: url('/img/about/about.jpeg');
            opacity: 0.8;
            background-position: top;
          "
        ></div>
      </div>
    </div>

    <div class="row pt-5 mt-n2 mt-sm-0 mt-md-2 mt-lg-4 mt-xl-5">
      <div class="col-md-6 col-lg-5">
        <div class="fs-sm text-uppercase mb-3">What we do</div>
        <h2 class="display-6">
          We are a team of Scouts who make our city a better place.
        </h2>
      </div>
      <div
        class="col-md-6 col-xl-5 offset-lg-1 offset-xl-2 pt-1 pt-sm-2 pt-md-5"
      >
        <p class="fs-xl">
          Morbi et massa fames ac scelerisque sit commodo dignissim
          <strong>faucibus quisque proin</strong>
          lectus laoreet sem adipiscing sollicitudin erat massa tellus lorem
          enim aenean phasellus in hendrerit interdum lorem proin pretium dictum
          urna suspendisse quis risus et.
        </p>
        <p class="fs-xl">
          Sit congue tellus urna phasellus sagittis interdum sed laoreet eget
          curabitur.
          <strong
            >Vel magna sit aliquet viverra morbi massa mattis urna,</strong
          >
          feugiat egestas tincidunt ipsum diam quam massa amet odio nisi duis
          dolor.
        </p>
        <p class="fs-xl mb-0">
          Ac facilisis eros sem faucibus aliquet venenatis amet fermentum nisi.
          Mauris consectetur sem malesuada. viverra a non sapien odio id risus
          volutpat at.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Approach-->
<section class="mt-md-2 mt-xl-1 mt-xxl-1">
  <div class="container pt-2 pt-sm-4 pt-lg-5 mt-xxl-2">
    <div class="fs-sm text-uppercase mb-3">Our Mission</div>
    <h2 class="display-6 pb-3 mb-lg-4">Professional approach</h2>
    <div
      class="swiper"
      data-swiper-options='
		{
			"spaceBetween": 24,
			"pagination": {
				"el": ".swiper-pagination",
				"clickable": true
			},
			"breakpoints": {
				"576": { "slidesPerView": 2 },
				"992": { "slidesPerView": 3 }
			}
		}
      	'
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide h-auto">
          <div class="card border-0 bg-secondary rounded-5 h-100">
            <div class="card-body">
              <svg
                class="d-block mt-1 mt-sm-0 mb-4"
                width="40"
                height="40"
                viewBox="0 0 40 40"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g class="text-info">
                  <path
                    d="M20.0004 36.0226L10.982 21.3535C9.42594 23.3156 8.49609 25.7968 8.49609 28.4955C8.49609 34.8492 13.6467 39.9998 20.0004 39.9998C26.3541 39.9998 31.5047 34.8492 31.5047 28.4955C31.5047 25.7969 30.5749 23.3156 29.0188 21.3535L20.0004 36.0226Z"
                    fill="currentColor"
                  ></path>
                </g>
                <g class="text-primary">
                  <path
                    d="M39.3962 0H0.605469L20.0009 31.5477L39.3962 0ZM25.7601 7.62359L20.0009 16.9914L14.2416 7.62359H25.7601Z"
                    fill="currentColor"
                  ></path>
                </g>
              </svg>
              <h3 class="h4">Train Scout with skils</h3>
              <p class="mb-0">
                Find aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur neque congue aliqua
                dolor.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide h-auto">
          <div class="card border-0 bg-secondary rounded-5 h-100">
            <div class="card-body">
              <svg
                class="d-block mt-1 mt-sm-0 mb-4"
                width="40"
                height="40"
                viewBox="0 0 40 40"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g class="text-info">
                  <path
                    d="M26.307 23.1116C26.307 28.3136 22.09 32.5307 16.888 32.5307C11.6859 32.5307 7.46891 28.3136 7.46891 23.1116C7.46891 17.9096 11.6859 13.6925 16.888 13.6925C17.1467 13.6925 17.4028 13.7038 17.6562 13.7243V6.24121C17.4016 6.22973 17.1455 6.22363 16.888 6.22363C7.56102 6.22363 0 13.7846 0 23.1116C0 32.4386 7.56102 39.9996 16.888 39.9996C26.2149 39.9996 33.7759 32.4386 33.7759 23.1116C33.7759 22.8541 33.7698 22.598 33.7584 22.3433H26.2753C26.2958 22.5968 26.307 22.8529 26.307 23.1116Z"
                    fill="currentColor"
                  ></path>
                </g>
                <g class="text-primary">
                  <path
                    d="M40 20C40 8.9543 31.0457 0 20 0V20H40Z"
                    fill="currentColor"
                  ></path>
                </g>
              </svg>
              <h3 class="h4">Educating Scout Ethically</h3>
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus eget molestie massa. Donec egestas nulla pariatur.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide h-auto">
          <div class="card border-0 bg-secondary rounded-5 h-100">
            <div class="card-body">
              <svg
                class="d-block mt-1 mt-sm-0 mb-4"
                width="40"
                height="40"
                viewBox="0 0 40 40"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g class="text-primary">
                  <path
                    d="M25.2791 12.7502C28.1954 9.83389 28.1954 5.10556 25.2791 2.18921C22.3627 -0.727136 17.6344 -0.727137 14.718 2.18921C11.8017 5.10556 11.8017 9.83389 14.718 12.7502C17.6344 15.6666 22.3627 15.6666 25.2791 12.7502Z"
                    fill="currentColor"
                  ></path>
                </g>
                <g class="text-info">
                  <path
                    d="M14.6859 29.3056C15.6559 27.0123 16.9202 24.8838 18.4577 22.9467C13.8666 17.9802 7.29664 14.8701 0 14.8701V40.0004H12.5259C12.5259 36.2925 13.2527 32.6942 14.6859 29.3056Z"
                    fill="currentColor"
                  ></path>
                </g>
                <g class="text-primary">
                  <path
                    d="M40.0014 40.0004V14.8701C26.1223 14.8701 14.8711 26.1214 14.8711 40.0004H40.0014Z"
                    fill="currentColor"
                  ></path>
                </g>
              </svg>
              <h3 class="h4">Voluntary work</h3>
              <p class="mb-0">
                More erat leo proin odio est sed sit felis facilisi integer sed
                congue neque turpis dictumst sit sed volutpat aliquet tortor.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-pagination position-relative bottom-0 mt-2 pt-4 d-lg-none"
      ></div>
    </div>
  </div>
</section>

<!-- How we work (Steps)-->
<section class="container pt-5 mt-1 mt-sm-2 mt-xl-4 mt-xxl-5">
  <div
    class="row align-items-center pt-2 pt-sm-3 pt-md-4 pt-lg-5 mt-xl-2 mt-xxl-3"
  >
    <div class="col-md-6 col-xl-5 pb-3 pb-md-0 mb-4 mb-md-0">
      <div
        class="ratio ratio-1x1 d-flex align-items-center position-relative rounded-circle overflow-hidden bg-size-cover mx-auto"
        style="
          max-width: 530px;
          background-image: url(https://c1.wallpaperflare.com/preview/901/494/430/boy-scout-scouting-asia.jpg);
          background-position: center;
          opacity: 0.7;
        "
      >
        <div
          class="bg-black position-absolute top-0 start-0 w-100 h-100 opacity-50"
        ></div>
        <div class="dark-mode position-relative zindex-2 p-4">
          <div class="text-center mx-auto" style="max-width: 275px">
            <span class="d-block fs-sm text-uppercase mt-5 mb-3"
              >How we work</span
            >
            <h2 class="display-6 mb-0">The key to success</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-5 offset-xl-1">
      <div class="ps-md-4 ps-xl-0">
        <div class="steps steps-hoverable">
          <div class="step py-3 py-xl-4">
            <div class="step-number">
              <div class="step-number-inner">01</div>
            </div>
            <div class="step-body">
              <h3 class="h5 pb-1 mb-2">Enrollment in Al-Mustafa Scouts</h3>
              <p class="mb-0">
                Find aute irure dolor in reprehenderi voluptate velit esse
                cillum dolore eu fugiat nulla pariatur am luctus.
              </p>
            </div>
          </div>
          <div class="step py-3 py-xl-4">
            <div class="step-number">
              <div class="step-number-inner">02</div>
            </div>
            <div class="step-body">
              <h3 class="h5 pb-1 mb-2">Become a Shaheen Scout</h3>
              <p class="mb-0">
                Risus quam quis at euismod vitae dui elementu eu in diam
                malesuada mattis ut urna integer erat nisi nibh.
              </p>
            </div>
          </div>
          <div class="step py-3 py-xl-4">
            <div class="step-number">
              <div class="step-number-inner">03</div>
            </div>
            <div class="step-body">
              <h3 class="h5 pb-1 mb-2">Earn Badges and get trained in camps</h3>
              <p class="mb-0">
                A sagittis morbi massa venenatis, egestas viverra ac elit nibh
                tellus nisi in nec tellus mauris feugiat gravida.
              </p>
            </div>
          </div>
          <div class="step py-3 py-xl-4">
            <div class="step-number">
              <div class="step-number-inner">04</div>
            </div>
            <div class="step-body">
              <h3 class="h5 pb-1 mb-2">Become a Boy or Rover Scout</h3>
              <p class="mb-0">
                Elementum purus, nisl ipsum sit. Amet sit praesent proin sit
                cras. Leo sed praesent nunc vel nec risus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Testimonials-->
<section class="pt-5 mt-1 mt-sm-2 mt-xl-4 mt-xxl-5">
  <div class="container pt-3 pt-md-4 pt-lg-5 mt-xl-2 mt-xxl-3">
    <div class="fs-sm text-uppercase mb-3">Testimonials</div>
    <h2 class="display-6 pb-3 mb-lg-4">What our clients say</h2>
    <div class="card border-0 bg-secondary overflow-hidden">
      <div class="card-body position-relative zindex-2 px-lg-0 py-lg-5">
        <div class="row py-2 py-sm-1 py-md-3 py-lg-4 py-xl-5">
          <div class="col-md-4 col-lg-3 offset-lg-1 mb-3 mb-md-0">
            <!-- Binded items-->
            <div class="binded-content">
              <!-- Item-->
              <div class="binded-item active" id="author1">
                <img
                  class="d-block rounded-circle mb-3"
                  src="/img/avatar/21.jpg"
                  width="86"
                  alt="Lilianna Bocouse"
                />
                <h4 class="mb-0">Lilianna Bocouse</h4>
                <p class="fs-lg text-muted mb-0">Head of Marketing</p>
              </div>
              <!-- Item-->
              <div class="binded-item" id="author2">
                <img
                  class="d-block rounded-circle mb-3"
                  src="/img/avatar/21.jpg"
                  width="86"
                  alt="Darell Steward"
                />
                <h4 class="mb-0">Darell Steward</h4>
                <p class="fs-lg text-muted mb-0">Project Manager</p>
              </div>
              <!-- Item-->
              <div class="binded-item" id="author3">
                <img
                  class="d-block rounded-circle mb-3"
                  src="/img/avatar/21.jpg"
                  width="86"
                  alt="Annette Black"
                />
                <h4 class="mb-0">Annette Black</h4>
                <p class="fs-lg text-muted mb-0">Lead Designer</p>
              </div>
              <!-- Item-->
              <div class="binded-item" id="author4">
                <img
                  class="d-block rounded-circle mb-3"
                  src="/img/avatar/21.jpg"
                  width="86"
                  alt="Ralph Edwards"
                />
                <h4 class="mb-0">Ralph Edwards</h4>
                <p class="fs-lg text-muted mb-0">CEO, Co-Founder</p>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-7">
            <!-- Swiper slider-->
            <div
              class="swiper"
              data-swiper-options='{
                  "spaceBetween": 40,
                  "loop": true,
                  "autoHeight": true,
                  "bindedContent": true,
                  "pagination": {
                    "el": "#testimonials-bullets",
                    "clickable": true
                  }
                }'
            >
              <div class="swiper-wrapper">
                <!-- Item-->
                <div class="swiper-slide" data-swiper-binded="#author1">
                  <p class="text-dark lead mb-0">
                    “Around provides us with the detailed and accurate data we
                    need to make strategic decisions. All tools are constantly
                    being improved and contain a lot of useful and interesting
                    information. Thanks to Around, we can constantly analyze our
                    big data quickly and efficiently.”
                  </p>
                </div>
                <!-- Item-->
                <div class="swiper-slide" data-swiper-binded="#author2">
                  <p class="text-dark lead mb-0">
                    “Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Integer ac pretium dui. Aliquam rutrum justo lorem, in
                    efficitur odio efficitur vel. Integer mattis, neque
                    malesuada sagittis porttitor, enim tortor ullamcorper diam,
                    id eleifend sem mauris at turpis. Curabitur sed nisi nec
                    ligula dictum maximus eu ut ante.”
                  </p>
                </div>
                <!-- Item-->
                <div class="swiper-slide" data-swiper-binded="#author3">
                  <p class="text-dark lead mb-0">
                    “Quisque rutrum sit amet magna sit amet tristique. Vivamus
                    rhoncus ac purus vitae convallis. Aliquam erat volutpat.
                    Proin egestas, mauris ut semper semper, ipsum felis mattis
                    ligula, et porttitor ante arcu nec ante. Aliquam congue est
                    eu turpis sollicitudin, et ullamcorper tortor aliquam.”
                  </p>
                </div>
                <!-- Item-->
                <div class="swiper-slide" data-swiper-binded="#author4">
                  <p class="text-dark lead mb-0">
                    “Vestibulum faucibus lectus eget augue pharetra, quis semper
                    lectus gravida. Vestibulum pretium in elit sed iaculis.
                    Curabitur elementum turpis at ipsum molestie, id maximus
                    odio tincidunt. Praesent id lacinia orci. Phasellus at
                    varius arcu. Ut nec lobortis velit. Mauris vel risus quis
                    lacus placerat fringilla.”
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Swiper pagination (bullets)-->
    <div
      class="swiper-pagination position-relative bottom-0 pt-4 mt-2 mt-md-3"
      id="testimonials-bullets"
    ></div>
  </div>
</section>


<%- include('./layout/footer') %>
